<form class="info" action="/shelters" method="post">
  <h1>Shelter Information</h1>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p>Enter a shelter name:</p>
  <input type='text' name='shelter[name]'/><br/>
  <p>Enter address:</p>
  <input type='text' name='shelter[address]'/><br/>
  <p>Enter city:</p>
  <input type='text' name='shelter[city]'/><br/>
  <p>Enter state:</p>
  <input type='text' name='shelter[state]'/><br/>
  <p>Enter zip code:</p>
  <input type='text' name='shelter[zip]'/><br/>
  <input type='submit' value="Create Shelter"/>
</form>