<section class="pet-applicants">
  <ol>
    <%= @applications.each do |application| %>
      <li id="applicant-<%= application.id %>"><%= link_to "#{application.user_name}", "/applications/#{application.id}" %></li>
    <% end %>
  </ol>
</section>
