<section class="pet-applicants">
  <% if @applications == [] %>
    <i>No applications for this pet currently.</i>
  <% else %>
    <ol>
      <h4 class="title">Applicants For This Pet</h4>
      <% @applications.each do |application| %>
        <li class="info" id="applicant-<%= application.id %>"><%= link_to "#{application.user_name}", "/applications/#{application.id}" %></li>
      <% end %>
    </ol>
  <% end %>
</section>
